{% extends "base.html" %}

{% block title %} PokeApi - Inicio {% endblock %}

{% block contenido %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center bg-primary text-white">
                    <h3>Buscar Pokémon</h3>
                </div>
                <div class="card-body">
                    <form method="POST" action="/search">
                        <div class="mb-3 text-center">
                            <label for="exampleInputEmail1" class="form-label">BUSCA POKEMONES</label>
                                    <input type="text" class="form-control" id="pokemon_name" aria-describedby="buscar" name="pokemon_name" placeholder="Ingrese el nombre del Pokémon">
                        </div>
                <button type="submit" class="btn btn-info">Buscar</button>
                    </form>
            </div>
        </div> 
    </div>      
</div>  


{% endblock %}